.chatContainer {
  display: flex;
  height: 82.5vh;
  flex: 1 1 auto;
}

.chatContact {
  width: 30%;
  overflow: auto;
  border-right: 1px solid gray;
}

.chatDetail {
  width: 70%;
  overflow: auto;
}

.contactUser {
  box-sizing: border-box;
  padding: 0 1rem;
  border-bottom: 1px solid rgb(163, 161, 161);
}
